.story{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px!important;
    min-width: 120px!important;
    margin-right: 18px;
    justify-content: space-between;
    transition: .5s;
}
.story:hover{
    transform: scale(1.04);
}