.story{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px!important;
    min-width: 120px!important;
    margin-right: 18px;
    justify-content: space-between;
    transition: .5s;
    box-shadow: 0 3px 10px rgba(105, 105, 105, 0.692) ;
}
.story:hover{
    transform: scale(1.04);
}